<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/">Home</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/about">About</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/topics">Topics</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ site.baseurl }}/home-spotlight">Spotlight</a></li>
                    <li><a href="{{ site.baseurl }}/behind2017">Behind 2017</a></li>
                    <li><a href="#">Under The Bridge</a></li>
                    <li><a href="#">The Valkyrie</a></li>
                  </ul>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/contact">Contact</a>
                </li>
                <!--
                {% for page in site.pages %}{% if page.title %}
				{% if page.url != '/404.html' %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
				{% endif %}
                {% endif %}{% endfor %}
                -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
