---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<h1>{{ page.person-name }}, Class of {{ page.class-year }} {{ page.occupation}}</h1>
      <blockquote style="font-size: 1.35em;">{{ page.quote }}</blockquote>
      <!-- Title and questions divider -->
      <hr>
      <!-- Individual Question 1
      ------------------------------------------------------------------------->
      <p>{{ custom-question1 }}</p>
      <blockquote>{{ custom-answer1 }}</blockquote>

      <!-- Set Question 1 -->
      <p>Our school theme is all about building bridges, closing gaps, and
        leaving legacies. How do you execute this in your day-to-day life?</p>
      <blockquote>{{ set-answer1 }}</blockquote>
      <!-- Set Question 2 -->
      <p>What do you think makes Woodbridge so special?</p>
      <blockquote>{{ set-answer2 }}</blockquote>

      <!-- Individual Question 2
      ------------------------------------------------------------------------->
      <p>{{ custom-question2 }}</p>
      <blockquote>{{ custom-answer2 }}</blockquote>

      <!-- Set Question 3 -->
      <p>What are your plans after high school?</p>
      <blockquote>{{ set-answer3 }}</blockquote>
      <!-- Set Question 4 -->
      <p>Do you have any advice for future or current high school students?</p>
      <blockquote>{{ set-answer4 }}</blockquote>

      <!-- Individual Question 3
      ------------------------------------------------------------------------->
      <p>{{ custom-question3 }}</p>
      <blockquote>{{ custom-answer3 }}</blockquote>

      <!-- Set Question 5 -->
      <p>What are three words that you or your friends would use to describe you?</p>
      <blockquote>{{ set-answer5 }}</blockquote>
      <!-- Set Question 6 -->
      <p>How do you inspire others within Woodbridge to be great?</p>
      <blockquote>{{ set-answer6 }}</blockquote>

      <!-- Individual Question 4
      ------------------------------------------------------------------------->
      <p>{{ custom-question4 }}</p>
      <blockquote>{{ custom-answer4 }}</blockquote>
      
		</div>
	</div>
</div>
<hr>
